:root {
  --primary-background: radial-gradient(
    circle at 10% 20%,
    rgb(116, 203, 199) 0%,
    rgb(220, 246, 200) 90%
  );
  --button-color: #dcf6c8;
  --secondary-text-color: #272142;
  --heading-font-family: Playfair display, serif;
  --secondary-button-color: #63aaa3;
  --navigation-background: linear-gradient(
    180deg,
    rgb(220, 246, 200) 30%,
    rgb(255, 255, 255) 100%
  );
}
body {
  font-family: Poppins, sans-serif;
}
.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
}
.hero {
  background: var(--primary-background);
  text-align: center;
  padding: 200px 20px;
}
.hello-text {
  text-align: 36px;
  font-weight: bold;
}
.hero h2 {
  font-size: 24px;
  color: var(--secondary-text-color);
  line-height: 2;
}
.btn-branding {
  background: var(--button-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin-top: 30px;
}
.city-name {
  font-size: 64px;
  font-family: var(--heading-font-family);
}
.city-description,
.about-me-paragraph {
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
}
.learn-more-btn {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  color: var(--secondary-button-color);
  border: 1px solid var(--secondary-button-color);
  text-align: center;
}
.city-image {
  max-width: 500px;
}

.col {
  padding: 50px 30px;
}
.learn-about-basic-link {
  color: var(--secondary-button-color);
  font-style: italic;
  display: block;
  text-align: center;
  padding: 20px 0px;
  text-decoration: none;
}
.learn-about-basic-link:hover {
  text-decoration: underline;
}
.my-image {
  max-height: 560px;
  padding: 20px 20px;
  border-radius: 6%;
}

.content-container h2,
.city-container h2 {
  font-weight: bold;
  color: var(--secondary-text-color);
}
.content-container h2 {
  font-size: 18px;
}
.city-container h2 {
  font-size: 25px;
}
.city-container {
  text-align: center;
}
.content-container,
.city-container {
  padding: 200px 20px 30px 20px;
}
.content-inner {
  margin-top: -20px;
}
.best-sights-name {
  font-size: 18px;
}
.wiki {
  color: var(--secondary-button-color);
}
.wiki-link {
  font-size: 15px;
}
.my-cities-name {
  font-size: 40px;
}
.contact-form {
  padding-top: 30px;
}
.navigation-bar,
.navigation-bar-2 {
  padding: 20px 56.5px;
  max-width: 100%;
  position: fixed;
}
.navigation-bar {
  background-color: white;
}
.icon {
  color: var(--secondary-button-color);
  text-decoration: none;
}
.menu {
  color: var(--secondary-text-color);
  text-decoration: none;
}
.navigation-bar-2 {
  background: var(--navigation-background);
}

.menu-2 {
  color: black;
  text-decoration: none;
}

footer {
  text-align: center;
}
.btn-footer {
  margin-top: 4px;
  padding: 20px 20px;
  border: 1px solid black;
  font-size: 20px;
}
.contact-box {
  background: var(--primary-background);
  margin: 90px 200px 30px 200px;
  padding: 30px 90px 10px 90px;
}
h4 {
  font-family: var(--heading-font-family);
  font-size: 40px;
}
.front-icon {
  font-size: 30px;
  padding: 10px 10px;
  margin-bottom: 40px;
}
.front-link {
  font-size: 18px;
}
.front-icon:hover,
.front-link:hover {
  color: black;
}

.contact-page {
  padding-bottom: 100px;
}

@media (max-width: 1200px) {
  .city-name {
    font-size: 50px;
  }
  .hero {
    padding: 180px 30px;
  }
  .hero h1 {
    font-size: 85px;
  }
  .contact-box {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media (max-width: 991px) {
  .city-name {
    text-align: center;
    margin-bottom: 30px;
    font-size: 42px;
    margin-top: 50px;
  }
  .hero h1 {
    font-size: 50px;
  }
  .hero h2 {
    line-height: 1.5;
  }
  .hero {
    padding: 140px 30px;
  }

  .learn-more-btn {
    display: block;
    text-align: center;
    max-width: 300px;
    margin: 0px auto;
  }
  .budapest-name {
    margin-top: 0px;
  }
  .col {
    padding: 0px;
  }
  body {
    margin-bottom: 40px;
  }
  .city-description {
    padding: 0px 15px;
  }

  .my-image {
    max-width: 220px;
    margin-bottom: 40px;
    margin-top: -30px;
    padding: 0px;
    border-radius: 60%;
    border: 3px solid var(--secondary-button-color);
  }
  .content-container,
  .city-container {
    padding-top: 140px;
    padding-bottom: 0px;
    text-align: center;
  }
  .best-sights-name {
    font-size: 14px;
  }
  .wiki-link {
    font-size: 14px;
  }
  .my-cities-name {
    font-size: 18px;
  }
  .front-contact {
    margin-top: 60px;
    margin-bottom: -20px;
    border: 2px solid var(--button-color);
    padding-top: 10px;
  }
  .front-icon {
    margin-bottom: 0px;
  }
  .contact-page {
    padding-bottom: 0px;
  }
}
@media (max-width: 575px) {
  .navigation-bar,
  .navigation-bar-2 {
    position: unset;
    background: var(--navigation-background);
    padding-bottom: 40px;
    padding-left: 20px;
  }
  .content-container,
  .city-container {
    padding-top: 100px;
  }
  .menu {
    font-size: 20px;
  }
  .my-image {
    margin-top: -60px;
  }
}
