:root {
  --light-pink: #edc4d1;
  --gradient-pink: linear-gradient(
    360deg,
    rgb(96, 9, 58) 0%,
    rgb(77, 6, 47) 36%,
    rgb(4, 4, 4) 100%
  );
  --light-blue: rgb(203 238 241);
  --dark-pink: #f51095;
}

body {
  background: var(--gradient-pink);
  color: white;
  margin: 50px 50px;
}
h1 {
  size: 150px;
  margin-top: 30px;
  margin-bottom: 60px;
  line-height: 130px;
  text-shadow: 5px 5px 10px rgba(245, 16, 149, 0.4);
  color: var(--dark-pink);
}
.title {
  font-size: 45px;
}
.image-about-me {
  max-width: 250px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
  border-radius: 20px;
}
.coming-from {
  font-size: 20px;
}
.info-about-me {
  margin: 70px 0px;
}
.main-line {
  color: var(--dark-pink);
}
.technologies {
  margin-top: 40px;
}
.coding-skills {
  font-size: 18px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 30px;
  margin-right: 50px;
  line-height: 23px;
}
.free-time {
  font-size: 18px;
  line-height: 30px;
}
.languages {
  margin: 30px 0px;
}
.check-out {
  font-size: 18px;
  margin-bottom: 20px;
}
.projects {
  margin: 0px 40px;
}
.project-image {
  margin: 30px 0px;
  max-width: 300px;
  border-radius: 20px;
  border: solid 2px black;
}
.project-description {
  text-align: justify;
  margin-top: 20px;
}
.project-about {
  color: var(--light-blue);
}
.contact-form {
  font-size: 18px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 30px 30px;
  text-align: center;
  display: block;
  margin: 60px 300px 40px 300px;
  background: var(--gradient-pink);
}
.link {
  padding: 20px;
}
.icon {
  font-size: 30px;
}
.get-in-touch {
  font-size: 30px;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.url {
  color: var(--light-pink);
}
.ps {
  text-align: center;
}
.ps a {
  text-decoration: none;
  border: 1px solid var(--light-pink);
  padding: 5px;
  margin: 10px;
}
@media (max-width: 1175px) {
  .contact-form {
    margin: 60px 200px 40px 200px;
  }
}
@media (max-width: 1078px) {
  .project-image {
    max-width: 270px;
  }
  .name {
    font-size: 120px;
  }
  .image-about-me {
    margin-top: 30px;
  }
}
@media (max-width: 991px) {
  .projects,
  .ription {
    text-align: center;
  }
  .project-image {
    max-width: 500px;
    margin-top: 50px;
    margin-bottom: 15px;
    border: 5px solid black;
  }
}
@media (max-width: 975px) {
  .contact-form {
    margin: 60px 100px 40px 100px;
  }
}
@media (max-width: 800px) {
  .name {
    font-size: 100px;
    line-height: 100px;
  }
}
@media (max-width: 775px) {
  .link {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  body {
    text-align: center;
  }
  .title {
    font-size: 40px;
  }
  .free-time {
    margin-top: 40px;
  }
  li {
    list-style: none;
    margin-left: -30px;
  }
  .coding-skills {
    margin-right: 0px;
  }
  .first-image {
    margin-top: 25px;
  }
  .check-out {
    color: var(--dark-pink);
  }
}
@media (max-width: 715px) {
  .contact-form {
    margin: 60px 50px 40px 50px;
  }
}
@media (max-width: 669px) {
  .icon {
    font-size: 20px;
  }
  .project-image {
    position: relative;
    max-width: 100%;
  }
}
@media (max-width: 588px) {
  .contact-form {
    margin: 60px 10px 40px 10px;
  }
}
@media (max-width: 508px) {
  .contact-form {
    margin: 60px 0px 40px 0px;
    padding: 10px 0px;
  }
  .get-in-touch {
    font-size: 20px;
  }
}
@media (max-width: 427px) {
  .link {
    font-size: 15px;
    padding: 2px;
  }
  .name {
    font-size: 70px;
    line-height: 70px;
  }
}
@media (max-width: 409px) {
  body {
    padding: 0px 0px;
    margin: 0px 0px;
  }
}
